<div class="container width">


	<center ng-show="no_user_logged_in">
		<div class="alert alert-danger">
		  <strong>You have login in before you can post anything </strong>
		</div>

	</center>


	<div class="form-group row">
	  <label for="name-input" class="col-2 col-form-label">Display Name</label>
	  <div class="col-10">
	    <input class="form-control" type="text" value="Fixed value" id="name-input" ng-model ="name" >
	  </div>
	</div>

	<div class="form-group row">
	  <label for="email-input" class="col-2 col-form-label">Email</label>
	  <div class="col-10">
	    <input class="form-control" type="email"  id="email-input" ng-model ="email" value="fixedemail@gmail.com" >
	  </div>
	</div>

	<div class="form-group row">
	  <label for="item-name-input" class="col-2 col-form-label">Item Name</label>
	  <div class="col-10">
	    <input class="form-control" type="text" value="" id="item-name-input" ng-model ="item" >
	  </div>
	</div>


	<div class="form-group row">
	  <label for="text-input" class="col-2 col-form-label">About the Item</label>
	  <div class="col-10">
	    <textarea class="form-control" id="text-input" rows="4"  ng-model ="text"></textarea>
	  </div>
	</div>

	<div class="form-group row">
	  <label for="photo-input" class="col-2 col-form-label">Photo</label>
	  <div class="col-10">
	    <input type="file" class="form-control-file" id="photo-input" aria-describedby="fileHelp" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" required >
	  </div>
	</div>



	<div class="form-group row">
	  <label for="price-input" class="col-2 col-form-label">Price ($)</label>
	  <div class="col-10">
	    <input class="form-control" type="number" value="" id="price-input" ng-model ="price" >
	  </div>
	</div>

	<div class="form-group row">
	  <label for="version-input" class="col-2 col-form-label">Edition/Version</label>
	  <div class="col-10">
	    <input class="form-control" type="String" value="" id="version-input" ng-model ="edition">
	  </div>
	</div>


	 <center>
	   <button type="submit" class="btn btn-primary" ng-click="postItem()">Submit</button>


	 </center>


</div>


