/*
Base elements
*/


body{
    font-family: "Inconsolata", serif;
}

#nav-height li{
  font-size: 1.1em;
}

#questions{
    height: 60px;
    widows: 75%;
}

.posts{
  border-style: ridge;
  padding: 10px 10px 10px 10px;
}

.row{
  margin-top: 10px;
}

.post_item_form label{
  font-size: 1.1em;
}


.image{
  height: 200px;
  width: 200px;
  float: right;
}

.image img{
  width: 100%;
  height: 100%;
}


.signupForm{

  width: 50%;
  height: 50%;
  margin: 0 auto;
   margin-top: 100px;

}
#signupButton{
  width: 100px;
  height: 40px;
  text-align: center;
}


.post{
    background-color: grey;
    height: 100%;
}


.textarea{
	margin-top: 50px;
}


footer{
  margin-top: 40px;
    text-align: center;
}


.m-left{
    margin-left: 15px;
	color: black;
}

.m-left:hover{
    cursor: pointer;
    font-size: 40px;
 }




.width{
  width: 60%;
}

.custom_font{
  font-size: 1.1em;
  font-family: "Droid Sans"
}

.name_header{
  font-family: "Amethysta", serif;
  font-size: 2em;
}

.item_seller{
  font-size: 1.2em;
  color: #65B995;
}

.item_name{
  font-size: 1.5em;
  color: black;
}

.item_description{
  font-size: 1.2em;
  color: #949494;
}
.item_full_text{
  font-size: 1.2em;
}

.alert{
  font-size: 1.2em;
}

