 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <div class="jumbotron jumbotron-image">
  <h1 class="name_header">{{display_text}}</h1>
</div>

<br>

 <div class="container">

  <center>

    <a class="book_type" ui-sref="category({category:'Science'})">Science <span class="badge">{{science_category}}</span></a>
    <a class="book_type" ui-sref="category({category:'Math'})">Math <span class="badge">{{math_category}}</span></a>
    <a class="book_type" ui-sref="category({category: 'English'})">English <span class="badge" >{{english_category}}</span></a>
    <a href="#" class="book_type" ui-sref="category({category:'History'})">History <span class="badge">{{history_category}}</span></a>
    <a href="#" class="book_type" ui-sref="category({category:'Language'})">Language <span class="badge">{{language_category}}</span></a>
    <a href="#" class="book_type" ui-sref="category({category:'Other'})">Other <span class="badge">{{other_category}}</span></a>

  </center>

  <br> <br>

  <div class="alert alert-success" ng-if="incommingPost.length > 0">
    <a ng-click="setNewPost()" >There are {{difference}} new posts</a>
  </div>


  <div ng-repeat='post in posts'>

    <div class="row">

      <div class="col-md-8 col-md-offset-2 posts">

        <p class="item_seller">{{post.name}} in {{post.date | date : 'MM/dd/yy'}}


      <div class="image">
        <a href=""><img class="item_image" ng-src="{{post.image}}" alt="no image"></a>
      </div>

      <a class="lead item_name" ng-click="getQuestion(post._id)"><strong>{{post.item_name}}</strong> </a>
      <br> <br>

      <span class="item_description">{{post.item_text}} </span>

      <br>

      <div class="col-md-6">

        <p class="item_description" >Price: {{post.item_price}}$</p>
        <p class="item_description">Version: {{post.item_version}}</p>
        <p class="item_description">ISBN Number: {{post.isbn_number}}</p>

        <a ng-click="getQuestion(post._id)">View More Details</a>

      </div>


      </div>


      </div>



      <!-- Original Design -->
<!--
      <div class="col-md-2">
         <p>
          <strong class="item_seller">{{post.name}}</strong>
          </p>
          <br>
          <p class="item_seller">{{post.date | date : 'MM/dd/yy'}}</p>

      </div>


      <div class="col-md-4">

          <p>
           <a class="lead item_name" ng-click="getQuestion(post._id)"><strong>{{post.item_name}}</strong> </a>
           <br> <br>
           <span class="item_description">{{post.item_text}} </p>
           <br> <br> <br>



         <div class="image">
          <a href=""><img class="item_image" ng-src="{{post.image}}"></a>
         </div>

         <br><br><br>

      </div>


      <div class="col-md-4 custom_font">

         <p>
          Price
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_price}}$</strong></p>
           <br><br>
          Version
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_version}}</strong></p>
         </p>

      </div>

    </div>
 -->
      <hr>



  </div>



</div>



