 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <div class="container">

  <center>
   <h3 class="name_header"> {{display_text}} <h3>

  </center>

  <br> <br>

  <div class="alert alert-success" ng-if="incommingPost.length > 0">
    <a ng-click="setNewPost()" >There are {{difference}} new posts</a>
  </div>


  <div ng-repeat='post in posts'>

    <div class="row">

      <div class="col-md-8 col-md-offset-2 posts">

        <p class="item_seller">{{post.name}} in {{post.date | date : 'MM/dd/yy'}}


      <div class="image">
        <a href=""><img class="item_image" ng-src="{{post.image}}"></a>
      </div>

      <p>
      <a class="lead item_name" ng-click="getQuestion(post._id)"><strong>{{post.item_name}}</strong> </a>
      <br> <br>
      <span class="item_description">{{post.item_text}} </span>
      </p>
      <br>

      <div class="col-md-4 custom_font">
        <p>
        Price
        <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_price}}$</strong></p>
        Version
        <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_version}}</strong></p>
        </p>

        <a ng-click="getQuestion(post._id)">View More Details</a>

      </div>


      </div>







      </div>



      <!-- Original Design -->
<!--
      <div class="col-md-2">
         <p>
          <strong class="item_seller">{{post.name}}</strong>
          </p>
          <br>
          <p class="item_seller">{{post.date | date : 'MM/dd/yy'}}</p>

      </div>


      <div class="col-md-4">

          <p>
           <a class="lead item_name" ng-click="getQuestion(post._id)"><strong>{{post.item_name}}</strong> </a>
           <br> <br>
           <span class="item_description">{{post.item_text}} </p>
           <br> <br> <br>



         <div class="image">
          <a href=""><img class="item_image" ng-src="{{post.image}}"></a>
         </div>

         <br><br><br>

      </div>


      <div class="col-md-4 custom_font">

         <p>
          Price
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_price}}$</strong></p>
           <br><br>
          Version
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_version}}</strong></p>
         </p>

      </div>

    </div>
 -->
      <hr>



  </div>



</div>



