 <div class="container">

   <div class="alert alert-success" ng-if="incommingPost.length > 0">
         <a ng-click="setNewPost()" >There are {{difference}} new posts</a>
  </div>



  <div ng-repeat='post in posts'>
    <div class="row">
      <div class="col-md-4">
         <p>
          <strong class="lead">{{post.name}}</strong>
          </p>
          <br>
          <p>{{post.date | date : 'MM/dd/yy'}}</p>

      </div>


      <div class="col-md-4">

          <p>
           <a class="lead" ng-click="getQuestion(post._id)"><strong>{{post.item_name}}</strong> </a>

           <br> <br>
           {{post.item_text}}
           <br>
           <br>
           <br>
         </p>

         <div class="image">
          <a href=""><img class="item_image" ng-src="{{post.image}}"></a>
         </div>

         <br><br><br>

      </div>


      <div class="col-md-4 custom_font">

         <p>
          Price
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_price}}$</strong></p>
           <br><br>
          Version
          <p class="lead" ng-click="getQuestion(user._id)"><strong>{{post.item_version}}</strong></p>
         </p>

      </div>

    </div>

      <hr>

  </div>



</div>



