<div class="container">


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="lead"> <strong>{{post.username}} </strong> asked {{post.questions}} </p>

     </div>
  </div>

	<hr>


   <div class="row textarea" >
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
		<label for="comment">Answer:</label>
		<textarea class="form-control" rows="5" id="answer"placeholder="Answer the question here" ng-model="answer"></textarea>

		<button type="button" class="btn btn-primary" ng-click='postAnswer()'>Answer this question</button>
	  </div>
     </div>
  </div>


	<hr>
    
    <center><h3>Answers</h3></center>
	<div class="row" ng-repeat = 'answer in post.answers'>
    <div class="col-md-6 col-md-offset-3">
      
      <p class="lead"> {{answer.answer}} </p>  <hr>

     </div>

  </div>









</div>